<div class="jumbotron container mt-5">
  <h1 class="display-4">Formularios - Proyecto Mentores</h1>
  <p class="lead">
    Bienvenido al Sistema de Gestión del "Proyecto Mentores"
  </p>
  <hr class="my-4" />
  <p>
    A continuación están las respuestas a los formularios con la información de
    los mentores.
  </p>

  <div class="list-group">
    <a
      class="list-group-item list-group-item-action"
      [routerLink]="['seguimiento']"
    >
      Respuestas - Ficha de Acompañamiento Mentorial
    </a>
    <a class="list-group-item disabled" style="color: #888;">
      Respuestas - Informe Final (deshabilitado)
    </a>
    <a class="list-group-item disabled" style="color: #888;">
      Respuestas - Evaluación Final de Mentores de Estudiantes de Nuevo Ingreso
      (deshabilitado)
    </a>
  </div>
</div>
