<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Proyecto Mentores</span>
</nav>

<div class="container mt-5">
  <h4>Respuestas - Ficha de Acompañamiento Mentorial</h4>

  <br />

  <table class="table table-sm">
    <tbody>
      <tr>
        <th scope="row">Unidad Responsable:</th>
        <td>Vicerrectorado Académico</td>
      </tr>
      <tr>
        <th scope="row">Proyecto:</th>
        <td>
          Estudiante Mentores para alumnos de nuevo ingreso
          <br />
          Modalidad Presencial
        </td>
      </tr>
    </tbody>
  </table>

  <br />

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fecha</th>
        <th scope="col">Mentor Compañero</th>
        <th scope="col">Estudiante de Nuevo Ingreso</th>
        <th scope="col">Estado Confirmación</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let res of responses; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ res?.created.toMillis() | date }}</td>
        <td>
          {{ res.mentorName }}
          <br />
          <small>{{ res.mentorUsername }}@utpl.edu.ec</small>
        </td>
        <td>
          <span *ngFor="let student of res.students">
            {{ student.studentName }}
            <br />
            <small>{{ student.studentUsername }}@utpl.edu.ec</small>
          </span>
        </td>
        <td>
          <span *ngFor="let student of res.students">
            <span
              *ngIf="student.confirmationStatus === 'ACCEPTED'"
              class="text-success"
            >
              Confirmado
            </span>
            <span
              *ngIf="student.confirmationStatus === 'WAITING'"
              class="text-info"
            >
              Sin Confirmar
            </span>
            <span
              *ngIf="student.confirmationStatus === 'REJECTED'"
              class="text-danger"
            >
              Rechazado
            </span>
            <br />
          </span>
        </td>
        <td>
          <a
            class="btn btn-link"
            [routerLink]="['/formularios/seguimiento/visualizar', res.id]"
            routerLinkActive="router-link-active"
          >
            Visualizar
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="form-group d-flex justify-content-end">
    <a class="btn btn-link" [routerLink]="['/admin']">
      Volver al Inicio
    </a>
  </div>
</div>
