<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Proyecto Mentores</span>
</nav>

<div class="container mt-5">
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">Testing</h4>
    <p class="mb-0">
      Este formulario es una version de prueba, todos los datos que se suban a
      traves del formulario serán eliminados
    </p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <h4>Seguimiento a Estudiantes de Nuevo Ingreso</h4>
  <p>
    <span>{{ formData.periodo }}</span>
    <br />
    <small>(Deberá ser completado por el Estudiante Mentor)</small>
  </p>

  <table class="table table-sm">
    <tbody>
      <tr>
        <th scope="row">Unidad Responsable:</th>
        <td>Vicerrectorado Académico</td>
      </tr>
      <tr>
        <th scope="row">Proyecto:</th>
        <td>
          Estudiante Mentores para alumnos de nuevo ingreso
          <br />
          Modalidad Presencial
        </td>
      </tr>
      <tr>
        <th scope="row">Periodo Académico:</th>
        <td>
          {{ formData.periodo }}
        </td>
      </tr>
      <tr>
        <th scope="row">Estudiante de:</th>
        <td>
          {{ formData.ciclo }}
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center mt-5">
    <h3>ACOMPAÑAMIENTO {{ formData.bimestre }}</h3>
  </div>

  <form
    class="mt-3"
    [formGroup]="followingForm"
    (ngSubmit)="submit()"
    [ngClass]="{ 'was-validated': isFormValid }"
  >
    <fieldset [disabled]="!!response">
      <div class="form-group ">
        <p>
          Nombre Estudiante Mentor:
        </p>
        <div class="row">
          <div class="col-md">
            <input
              invalid
              formControlName="mentorName"
              type="text"
              class="form-control"
              id="mentorName"
              placeholder="Nombre Mentor"
              [ngClass]="{ 'is-invalid': isMentorNameInvalid }"
            />
          </div>
          <div class="col-md input-group">
            <input
              formControlName="mentorUsername"
              type="text"
              class="form-control"
              placeholder="Usuario UTPL del mentor"
              aria-label="Usuario UTPL del mentor"
              aria-describedby="mentorUsername"
              [ngClass]="{ 'is-invalid': isMentorUsernameInvalid }"
            />
            <div class="input-group-append">
              <span class="input-group-text" id="mentorUsername">
                @utpl.edu.ec
              </span>
            </div>
            <div class="invalid-feedback" *ngIf="isMentorUsernameInvalid">
              Tiene que ser un formato de usuario UTPL valido.
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <p>
          Nombres Estudiantes:
        </p>
        <div class="row">
          <div class="col-md">
            <input
              formControlName="studentsNames"
              type="text"
              class="form-control"
              id="studentsNames"
              placeholder="Nombres separados por coma"
              [ngClass]="{ 'is-invalid': isStudentsNamesInvalid }"
            />
          </div>
          <div class="col-md input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Usuarios UTPL del estudiante de nuevo ingreso separados por coma"
              aria-label="Usuarios UTPL del estudiante de nuevo ingreso separados por coma"
              aria-describedby="studentsUsernames"
              formControlName="studentsUsernames"
              [ngClass]="{ 'is-invalid': isStudentsUsernamesInvalid }"
            />
            <div class="input-group-append">
              <span class="input-group-text" id="studentsUsernames"
                >@utpl.edu.ec</span
              >
            </div>
            <div class="invalid-feedback" *ngIf="isStudentsUsernamesInvalid">
              Tiene que ser formatos de usuarios UTPL validos.
            </div>
          </div>
        </div>
        <small id="passwordHelpBlock" class="form-text text-muted">
          Puedes escribir varios usuarios si los separas con comas.
        </small>
      </div>
      <div class="form-group row">
        <div class="col-md-2">Seguimiento</div>
        <div class="col-md-10">
          <p class="mb-2">
            Marcar el tipo de acercamiento que se mantuvo con el estudiante de
            nuevo ingreso.
          </p>
          <select
            class="custom-select"
            formControlName="follow"
            [ngClass]="{ 'is-invalid': isFollowInvalid }"
          >
            <option selected></option>
            <option *ngFor="let item of formData.followingTypes" [value]="item">
              {{ item }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-2">Tipos de problemas encontrados</div>
        <div class="col-md-10">
          <select
            class="custom-select"
            formControlName="problemTypes"
            [ngClass]="{ 'is-invalid': isProblemTypesInvalid }"
            multiple
            [size]="formData.problemTypes.length"
          >
            <option *ngFor="let item of formData.problemTypes" [value]="item">
              {{ item }}
            </option>
          </select>
          <small id="passwordHelpBlock" class="form-text text-muted">
            Para seleccionar multiple items de la lista, presiona
            <code>Ctrl + Click</code> en windows o <code>⌘ + Click</code> en Mac
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label for="topic" class="col-md-2 col-form-label">
          Temas Desarrollados
        </label>
        <div class="col-md-10">
          <textarea
            formControlName="topic"
            class="form-control"
            id="topic"
            rows="4"
            [ngClass]="{ 'is-invalid': isTopicInvalid }"
          ></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="problems" class="col-md-2 col-form-label">
          Descripción del Problema
        </label>
        <div class="col-md-10">
          <textarea
            class="form-control"
            id="problems"
            formControlName="problems"
            rows="4"
            [ngClass]="{ 'is-invalid': isProblemsInvalid }"
          ></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="solutions" class="col-md-2 col-form-label">
          Soluciones
        </label>
        <div class="col-md-10">
          <textarea
            class="form-control"
            formControlName="solutions"
            id="solutions"
            rows="4"
            [ngClass]="{ 'is-invalid': isSolutionsInvalid }"
          ></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="solutions" class="col-md-2 col-form-label">
          Anexos
        </label>

        <div class="col-md-10">
          <div class="custom-file" *ngIf="!response; else assets">
            <input
              [ngClass]="{ 'is-invalid': isSolutionsInvalid }"
              type="file"
              class="custom-file-input"
              id="anexos"
              lang="es"
              multiple
              (change)="onFileChange($event)"
            />
            <label class="custom-file-label" for="anexos">{{
              filenameValue
            }}</label>
            <small class="form-text text-muted">
              Selecciona varios archivos a la vez.
            </small>
          </div>

          <ng-template #assets>
            <a
              [href]="asset"
              target="_blank"
              rel="noopener noreferrer"
              *ngFor="let asset of filenameValue; let i = index"
              class="btn btn-link"
              style="pointer-events: all;"
            >
              Archivo {{ i + 1 }}
            </a>
          </ng-template>
        </div>
      </div>
    </fieldset>
    <div class="form-group d-flex justify-content-end">
      <button class="btn btn-link" (click)="return()" type="button">
        Volver al Inicio
      </button>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="isButtonDisabled"
        *ngIf="!response"
      >
        Guardar
      </button>
    </div>
  </form>
</div>
