<div class="jumbotron container mt-5">
  <h1 class="display-4">Formularios - Proyecto Mentores</h1>
  <p class="lead">
    Bienvenido al Sistema de Gestión del Proyecto Mentores
  </p>
  <hr class="my-4" />
  <p>
    A continuación están los formularios para que llenes la información requerida
  </p>

  <div class="list-group">
    <a class="list-group-item list-group-item-action" [routerLink]="['seguimiento']">
      Seguimiento a Estudiantes de Nuevo Ingreso
    </a>
    <a class="list-group-item disabled">
      Informe Final
    </a>
    <a class="list-group-item disabled">
      Evaluación Final de Mentores de Estudiantes de Nuevo Ingreso
    </a>
  </div>
</div>
